/* trying to add pics */
header {
  background-color:#94A6A2;
  
}

h2 {
  font-size: 20px;
  letter-spacing: 0.1em;
  padding-top: 25px;
  margin-bottom: 20px;
  color:rgba(26, 25, 25, 0.8);
}
nav {
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: center;
}

nav li {
  display:inline-block;
  padding: 15px; 
  margin: 15px; 
  letter-spacing: 2px;
  border-bottom: 2px solid #496773;
  border-top: 2px solid #496773;
  padding: 7px 7px;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: 700;
  transition-property: color;
  transition-duration: 300ms;
}

nav a:hover {
  color:rgba(26, 25, 25, 0.8)
  }

body {
  background-color: #C1D9D4;

}

h2 {
  text-align: center;
}

#logo {
  width: 550px;
  height: 270px;
  display: block;
  margin: 0 auto 30px auto;
  padding-top: 20px;
}

main {
  width: 960px;
  display: block;
  margin: 0 auto;
}


section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

div {
  width: 450px;
  height: 400px;
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
}

div p{
  text-align: center;
}

/* section .aboutImageContainer {
  width:48%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  margin: 16px;
} */

div img {
  width: 150px;
  height: 150px;
  margin-bottom: 12px;
  display: block;
  margin: 30px auto 20px auto;
  border: 1px solid black;
}

section .aboutImageContainer p {
  line-height: 125%;
}

footer{
  background-color: #94A6A2;
}

footer p {
  text-align: center;
  padding: 40px 0;
}

