/* trying to add pics */
@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/comfortaa/v30/1Pt_g8LJRfWJmhDAuUsSQamb1W0lwk4S4WjMDrMfJh1Zyc61YA.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
header {
  background-color:#94A6A2;
  
}

h2 {
  font-size: 20px;
  letter-spacing: 0.1em;
  padding-top: 40px;
  margin-bottom: 20px;
  color: rgba(26, 25, 25, 0.8);
  font-family: fantasy;
}

nav {
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: center;
}


nav li {
  display:inline-block;
  padding: 15px; 
  margin: 15px; 
  letter-spacing: 2px;
  border-bottom: 2px solid #496773;
  border-top: 2px solid #496773;
  padding: 7px 7px;
}

nav a {
  color: white;
  font-weight: 700;
  transition-property: color;
  transition-duration: 300ms;
}
a {
  text-decoration: none;
}

nav a:hover {
  color:rgba(26, 25, 25, 0.8)
  }

body {
  background-color: #C1D9D4;

}

h2 {
  text-align: center;
}

div img {
  width: 350px;
  height: 467px;
  display: inline;
  border: 1px solid black;
  box-shadow: -5px -5px 10px #50525a;
} 

div img:hover{
  cursor: pointer;
}

div img:active{
  width: 330px;
  height: 447px;
  /* added margin to prvent hover state from dragging neighbor images */
  margin: 10px;
}

ul {
  text-align: center;
  display: inline;

}

#logo {
  width: 550px;
  height: 270px;
  display: block;
  margin: 0 auto;
  padding-top: 20px;
}

h3 {
  text-align: center;
  font-size: 30px;
  margin-top: 40px;
  font-family: 'Comfortaa';
  color: rgba(26, 25, 25, 0.8);
  text-shadow: 1px 1px grey;
}

h4 {
  text-align: center;
  margin-bottom: 60px;
  margin-top: 20px;
  font-family: cursive;
}

#imageContainer {
  /* background-color: #59403E; */
  display:flex;
  justify-content: space-evenly;
}

button {
  width: 200px;
  padding: 20px;
  border-radius: 12px;
  display: block;
  margin: 30px auto;
  font-size: 20px;
  background-color: rgb(236, 232, 232);
  box-shadow: -5px -2px 15px #919090;
  color: #496773;
  font-weight: 700;
  transition-property: background-color;
  transition-duration: 300ms;
  transition-timing-function: linear;
}

button:hover{
  background-color: #94A6A2;
  color: white;
}

button:active{
  width: 195px;
}

#aside-pic {
  width: 40px;
  display: block;
  margin: 0 auto;
  border-top: 2px solid black;
  padding: 10px 155px;
}

aside { 
  margin: 10px auto 20px auto;
  width: 350px;
  text-align: center;
  line-height: 1.3em;
  border-bottom: 2px solid black;
  padding-bottom: 10px;
 
}

footer{
  background-color: #94A6A2;
}

footer p {
  text-align: center;
  padding: 80px 0 15px 0;
}

/* #leftImageContainer {
  /* float: left; */
  /* display: center; */
/* } */

/* #rightImageContainer {
  margin: auto;
} */ 